@import url('https://fonts.googleapis.com/css2?family=Gorditas:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter', sans;
  src: url('./assets/fonts/Inter-Black.ttf');
}

@font-face {
  font-family: 'Inter', sans;
  src: url('./assets/fonts/Inter-ExtraBold.ttf');
}

@font-face {
  font-family: 'Inter', sans;
  src: url('./assets/fonts/Inter-Bold.ttf');
}

@font-face {
  font-family: 'Inter', sans;
  src: url('./assets/fonts/Inter-SemiBold.ttf');
}

@font-face {
  font-family: 'Inter', sans;
  src: url('./assets/fonts/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter', sans;
  src: url('./assets/fonts/Inter-Medium.ttf');
}

@font-face {
  font-family: 'Inter', sans;
  src: url('./assets/fonts/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter', sans;
  src: url('./assets/fonts/Inter-ExtraLight.ttf');
}

@font-face {
  font-family: 'Inter', sans;
  src: url('./assets/fonts/Inter-Light.ttf');
}

@font-face {
  font-family: 'Inter', sans;
  src: url('./assets/fonts/Inter-thin.ttf');
}

@font-face {
  font-family: 'Lato', sans;
  src: url('./assets/fonts/Lato-Black.ttf');
}

@font-face {
  font-family: 'Lato', sans;
  src: url('./assets/fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato', sans;
  src: url('./assets/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'Lato', sans;
  src: url('./assets/fonts/Lato-Thin.ttf');
}

@layer {
  body {
    @apply bg-[#F5F7FA] antialiased font-inter;
  }
}

@layer components {
  .carousel-slide {
    @apply bg-transparent overflow-hidden mx-auto flex flex-row gap-4 p-8 cursor-pointer;
  }

  .carousel-slider {
    @apply relative block;
    box-sizing: border-box;
    -moz-user-select: none;
    user-select: none;
    touch-action: pan-y;
    -webtkit-user-select: none;
  }

  .carousel-slide-list {
    @apply relative overflow-hidden m-0 p-0 block items-center;
  }

  .carousel-slide .carousel-slider-track,
  .carousel-slide .carousel-slide-list {
    -webkit-transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px);
  }

  .carousel-slider-track {
    @apply m-auto relative top-0 overflow-hidden left-0 flex items-center;
  }

  .carousel-slider-track::before,
  .carousel-slider-track::after {
    content: '';
    display: table;
  }

  table.app thead tr {
    @apply bg-[#F3F4F7] border-b border-[#D9DCE7];
  }

  table.app tbody tr:nth-child(odd) {
    @apply bg-gray-50 border-b border-[#D9DCE7];
  }

  table.app tbody tr:nth-child(even) {
    @apply bg-[#F3F4F7] border-b border-[#D9DCE7];
  }

  table.app tbody tr:nth-child(:last-child) {
    @apply border-b-0;
  }

  table.app td,
  table.app th {
    @apply px-2 py-2.5 text-left text-[#565656] text-sm capitalize whitespace-nowrap;
  }
}
